.tableRowStyle0{
    border-top: 3px solid lightgrey;
}
.tableRowStyle1{
    border-bottom: 3px solid lightgrey;
}
.table-content-class { 
    overflow-x: auto; 
}
#map{
    height: 400px;
}
#message{
    text-align: center;
    background-color: #ffe6e6;
}
#mapDiv{
    display: none;
}